.header{
  background-color: $clr-secondary2;
    
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img{
        width: 100px;
        margin: 2rem;
    }
    &__link{
        color: $clr-white;
        padding: 10px;
        &:last-child{
            margin-right: 2.5rem;
        }
    }
}